.semana-btn {
  margin: 5px;
}
.ingrediente-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fdfdfd;
}
.ingrediente-card img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}
.ingrediente-nombre {
  font-weight: bold;
}

  #calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
  }

  #calendario .dia {
    min-height: 100px;
    background-color: #f8f9fa;
    padding: 8px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    text-align: center;
  }

  #calendario .fw-bold {
    background-color: #e9ecef;
  }

